- model_class = Contest
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize
.row-fluid
  - while @contests.any?
    - contests_row = @contests.slice!(0..3)
    .row_fluid
      - contests_row.each do |contest|
        .contest_cell.span3
          .contest_cell_title
            = link_to contest.link, class: :link_button do
              %h4
                = contest.title
          .contest_cell_description
            = contest.description
          .contest_cell_operator.link_button
            = link_to contest.grant_operator.url, class: :link_button do
              = contest.grant_operator.title
