- model_class = Contest
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:link)
      %th= model_class.human_attribute_name(:founder)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @contests.each do |contest|
      %tr
        %td= contest.id
        %td= contest.title
        %td= contest.description
        %td= contest.link
        %td= contest.founder
        %td=l contest.created_at
        %td
