= title t('helpers.logic.contests')
- model_class = Contest
#tabs
  %ul.nav.nav-pills
    .nav-pills-header
      .navbar-brand
        = t('.title')
    %li
      = link_to t('helpers.logic.actual_contests'), "#actual", id: "actual_link"
    %li
      = link_to t('helpers.logic.old_contests'), "#old", id: "old_link"
  #actual
    #actual_tabs
      %ul.nav.nav-pills
        .nav-pills-header
          .navbar-brand
            = t('helpers.logic.actual_contests')
        %li
          = link_to  '#all', id: 'all_link' do
            = t('.all_contests')
            %sup
              = @actual_contests.count
        - Contest.subject.values.each do |subject|
          %li
            = link_to "##{subject}", id: "#{subject}_link" do
              = local_name_of_enumerize subject
              %sup
                = contests_of_subject_count(@actual_contests, subject)
      #all
        = render partial: "table", locals: { contests: @actual_contests }
      - Contest.subject.values.each do |subject|
        - contests = contests_of_subject(@actual_contests, subject)
        %div{ id: "#{subject}" }
          - if there_is_not_contests?(contests)
            .empty_tab
              %span
                = t('.there_is_not_actual_contests_on_subject_now', subject: local_name_of_enumerize(subject))
          - else
            = render partial: "table", locals: { contests: contests }
  #old
    = render partial: "table", locals: { contests: @old_contests }
