= title t('helpers.logic.contests')
- model_class = Contest
#tabs
  %ul.nav.nav-pills
    .nav-pills-header
      .navbar-brand{ href: root_path }
        = t('.title')
    %li
      = link_to t('helpers.logic.actual_contests'), "#actual", id: "#actual_link"
    %li
      = link_to t('helpers.logic.old_contests'), "#old", id: "#old_link"
  #actual
    = render partial: "table", locals: { contests: @actual_contests }
  #old
    = render partial: "table", locals: { contests: @old_contests }
