%section.top_header
  .inside
    %h1.mainline
      Название проекта
    .main_buttons_panel
      .join_panel.cf
        %ul.main_buttons
          %li
            = link_to t('.actual_contests'), contests_path,  class: :btn
          - if @help
            %li
              = link_to t('.helps'), help_path(@help),  class: :btn
%section.home-section.goal_section
  .inside.cf
    .text
      %h2
        = t('.goal')
      %p
        = t('project_attributes.goal')
    .image
      = image_tag "goal_image.png"
%section.home-section.audience_section
  .inside.cf
    .image
      = image_tag "audience_image.jpg"
    .text
      %h2
        = t('.audience')
      %p
        %ul
          - t('project_attributes.audiences').each do |audience|
            %li
              = audience
%section.home-section.conditions_section
  .inside.cf
    .image
      = image_tag "for_free_image.png"
    .text
      %h2
        = t('.conditions')
      %p
        = t('.our_conditions')
