%section.top_header
  .inside
    %h1.mainline
      Название проекта

%section.home-section.goal_section
  .inside.cf
    .text
      %h2
        = t('.goal')
      %p
        = t('project_attributes.goal')
    .image
      = image_tag "goal_image.png"
%section.home-section.audience_section
  .inside.cf
    .image
      = image_tag "audience_image.jpg"
    .text
      %h2
        = t('.audience')
      %p
        %ul
          - t('project_attributes.audiences').each do |audience|
            %li
              = audience
%section.home-section.conditions_section
  .inside.cf
    .image
      = image_tag "for_free_image.png"
    .text
      %h2
        = t('.conditions')
      %p
        = t('.our_conditions')
