.form
  = simple_form_for @contest, url: { controller: "web/admin/contests", action: action }, html: { class: 'form-horizontal' } do |f|
    - f.with_options input_html: { class: "col-lg-9" }, label_html: { class: "col-lg-3 control-label" }, error_html: { class: "help-block" } do |f|
      %fieldset
        .form-group
          = f.input :title, as: :string, placeholder: t('placeholders.admin.contest.title')
        .form-group
          = f.input :description, placeholder: t('placeholders.admin.contest.description')
        .form-group
          = f.input :link, as: :string, placeholder: t('placeholders.admin.contest.link')
        .form-group
          = f.input :end_date, as: :string, placeholder: t('placeholders.admin.contest.end_date')
        .form-group
          = f.association :grant_operator, selected: 1, input_html: { class: "col-lg-9 form-control" }
        .form-group.additional_buttons
          = t('.if_there_is_not_grant_operator')
          = link_to t('.add_grant_operator'), new_admin_grant_operator_path, class: 'btn btn-default', target: "_blank"
        .form-group
          = f.button :submit, class: 'btn btn-primary'
          = link_to t('.cancel', default: t("helpers.links.cancel")), admin_contests_path, class: 'btn'
