= simple_form_for @contest, url: { controller: "web/admin/contests", action: action }, html: { class: 'form-horizontal' } do |f|
  = f.input :title
  = f.input :description
  = f.input :link
  = f.association :grant_operator
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admin_contests_path, class: 'btn'
