= title t('helpers.logic.organizations')
- model_class = Organization
%ul.nav.nav-pills.organization_nav
  .nav-pills-header
    .navbar-brand
      = t('.title')
  %li
    %span.glyphicon.ruble
    = t('helpers.logic.grantor')
  %li
    %span.glyphicon.sort{ style: 'margin-right: 5px' }
    = t('helpers.logic.grant_operator')
%ul.organizations-grid.cf
  - @organizations.each do |organization|
    %li
      .organization
        = link_to organizations_path(organization) do
          = image_tag organization.logo.thumb
        .organization_footer.cf
          = link_to organization.title
          .badges
            %span.glyphicon.mini{ class: org_type_class(organization) }
            %span.glyphicon.mini.list
            = organization.contests.count
