= title t('helpers.logic.organizations')
- model_class = Organization
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:url)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @organizations.each do |organization|
      %tr
        %td= organization.id
        %td= organization.title
        %td= link_to organization.url, organization.url
        %td=l organization.created_at
