- title t('.title')
.page-header
  %h1
    = t('.title')
.form
  = simple_form_for @user, url: session_path, method: :post, html: { class: "form-horizontal" } do |f|
    - f.with_options input_html: { class: "col-lg-9" }, label_html: { class: "col-lg-3 control-label" } do |f|
      %fieldset
        .form-group
          = f.input :email, as: :string
        .form-group
          = f.input :password, as: :password
        .form-group
          = f.button :submit, t('helpers.sign_in'), class: 'btn btn-primary btn-lg'
