.form
  = simple_form_for @hint, url: { controller: "web/admin/hints", action: action }, html: { class: 'form-horizontal' } do |f|
    - f.with_options input_html: { class: "col-lg-9" }, label_html: { class: "col-lg-3 control-label" }, error_html: { class: "help-block" } do |f|
      %fieldset
        .form-group
          = f.input :subject, as: :string, placeholder: t('placeholders.admin.hint.subject')
        .form-group
          = f.input :lead, placeholder: t('placeholders.admin.hint.lead')
        .form-group
          = f.input :body, placeholder: t('placeholders.admin.hint.body')
        .form-group
          = f.button :submit, class: 'btn btn-primary'
          = link_to t('.cancel', default: t("helpers.links.cancel")), admin_hints_path, class: 'btn btn-default'
